<p id="notice"><%= notice %></p>

<p>
  <strong>Sub total:</strong>
  <%= @order.sub_total %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @order.sales_tax %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @order.grand_total %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
